

<div class="comment-session">
    <div class="post-comment">
        <div class="comment-list">
            <div class="flex">
                <div class="user-comment">
                    <div class="user-comment-image"><img class="img-comment" src="https://i.ibb.co/r6VJxn0/profile-17.jpg" /></div>
                    <div class="user-media">
                        <div class="name-comment">Full Name</div>
                        <div class="day">10 day ago</div>
                    </div>
                </div>
                <div class="reply">
                    <div class="lick icon-comment"><i class="uil uil-heart"></i></div>
                </div>
            </div>
            <div class="comment">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, alias.
            </div>
        </div>
        
        <form action="" class="comment-box">
            <div class="user-comment">
                <div class="image-comment"><img class="img-comment" src="https://i.ibb.co/r6VJxn0/profile-17.jpg" /></div>
                <div class="name-comment">Full Name</div>
            </div>
            <textarea name="comment"></textarea>
            <button class="comment-submit">Comment</button>
        </form>
    </div>
</div>

