@inherits LayoutComponentBase
@inject NavigationManager _navManager  
@inject IJSRuntime JsRuntime
@using System.Text.Json

 
<CascadingValue Value="AuthenticationState" Name="AuthenticationState">
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <div class="top-row px-4">
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</CascadingValue>
@code{
    public AuthenticationState AuthenticationState { get; set; } = new();



    protected override async Task OnInitializedAsync()
    {
        var authStateJson =  await JsRuntime.InvokeAsync<string>("window.getFromStorage", AuthenticationState.AuthStoreKey);
        if(!string.IsNullOrWhiteSpace(authStateJson))
        {
            var authState = TestChat.Client.Helpers.JsonConverter.Deserialize<AuthResponseDto>(authStateJson);
            AuthenticationState.LoadState(authState);

            if(AuthenticationState.IsAuthenticated)
            {
                _navManager.NavigateTo("/chat");
            }
        }
    }
}