<div class="container-main">
    <h2 class="log">
        InteractiNet
    </h2>
   
    <div class="create">
        <label class="btn-main btn-main-primary" for="create-post">Create</label>
        <div class="profile-photo">
            <img src="https://i.ibb.co/n8SH3Cj/profile-1.jpg" alt="Alternate Text" />
        </div>
    </div>
</div>