@if(SelectedUser is null)
{
    <h2>Please select a user from the connected user list, to start a converstation</h2>
}
else
{
    <div class="flex-grow-1">
        <div class="header d-flex justify-content-between bg-main" >
            <h2 class="">@SelectedUser.Name</h2>
            <button class="btn btn-danger btn-sm">x</button>
        </div>
        <div class="messages-list">

        </div>
        <div class="message-input"></div>
    </div>
}

@code {
    [Parameter]
    public UserDto? SelectedUser { get; set; }
}
