@page "/create-post"




<div class="container-post">
    <div class="wrapper">
        <section class="post">
            <header>Create Post</header>
            <form action="#">
                <div class="content">
                    <img src="/logo.png" alt="Alternate Text" />
                    <div class="details">
                        <p>CodingNepal</p>
                        <div class="privacy">
                            <i class="fas fa-user-friends"></i>
                            <span>Friends</span>
                            <i class="fas fa-caret-down"></i>
                        </div>
                    </div>
                </div>
                <textarea placeholder="What`s on your mind"></textarea>
                <div class="list">
                    <img style="margin-right:12px;" src="/gallery.svg" alt="Alternate Text" />
                    <input type="file" />
                </div>
                <div class="photo-post">
                    <img style="width:100%; height:100%;" src="/icon-192.png" alt="Alternate Text" />
                </div>
                <button class="btn-main btn-main-primary">Post</button>
            </form>
        </section>
    </div>
</div>




@code {
    
}
