@page "/FindPage"

@layout EmptyLayout


<div class="body-find-page">
    <div class="find-friends-container">
        <div class="find-friends-header">
            <div class="find-friends-heading">
                Find Friends
            </div>
            <div class="find-friends-search">
                <Icon class="serach-icon" Name="IconName.Search"></Icon>
                <input type="text" placeholder="Enter a friend`s name" />
            </div>
        </div>

        <div class="find-friends-body">
            <div class="user-row">
                <div class="user-info">
                    <img src="https://i.ibb.co/rctQBp4/profile-18.jpg" alt="user" />
                    <span>Jason Bond</span>
                </div>
                <div class="action-follow">
                    Follow
                </div>
            </div>

            <div class="user-row">
                <div class="user-info">
                    <img src="https://i.ibb.co/rctQBp4/profile-18.jpg" alt="user" />
                    <span>Jason Bond</span>
                </div>
                <div class="action-follow">
                    Follow
                </div>
            </div>

            <div class="user-row">
                <div class="user-info">
                    <img src="https://i.ibb.co/rctQBp4/profile-18.jpg" alt="user" />
                    <span>Jason Bond</span>
                </div>
                <div class="action-follow">
                    Follow
                </div>
            </div>

            <div class="user-row">
                <div class="user-info">
                    <img src="https://i.ibb.co/rctQBp4/profile-18.jpg" alt="user" />
                    <span>Jason Bond</span>
                </div>
                <div class="action-unfollow">
                    Unfollow
                </div>
            </div>

            
        </div>
    </div>
</div>
