@page "/main-page/{Id:int}"
@page "/main-page/{UserName}"
@using TestChat.Client.Components.MainPage
@using TestChat.Client.Components.MainPage.Componetns
@inject IJSRuntime _jsRuntime
@inject IMediaAccountService _mediaAccountService
@inject NavigationManager _navManager



            @*<MiddleSection/>*@
            <div class="stories">
                <div class="story">
                    <div class="profile-photo">
                        <img src="https://i.ibb.co/59wCg68/profile-8.jpg" alt="Alternate Text" />
                    </div>
                    <p class="name">Your Story</p>
                </div>
                <div class="story">
                    <div class="profile-photo">
                        <img src="https://i.ibb.co/59wCg68/profile-8.jpg" alt="Alternate Text" />
                    </div>
                    <p class="name">Full Name</p>
                </div>
                <div class="story">
                    <div class="profile-photo">
                        <img src="https://i.ibb.co/59wCg68/profile-8.jpg" alt="Alternate Text" />
                    </div>
                    <p class="name">Full Name</p>
                </div>
                <div class="story">
                    <div class="profile-photo">
                        <img src="https://i.ibb.co/59wCg68/profile-8.jpg" alt="Alternate Text" />
                    </div>
                    <p class="name">Full Name</p>
                </div>
                <div class="story">
                    <div class="profile-photo">
                        <img src="https://i.ibb.co/59wCg68/profile-8.jpg" alt="Alternate Text" />
                    </div>
                    <p class="name">Full Name</p>
                </div>
                <div class="story">
                    <div class="profile-photo">
                        <img src="https://i.ibb.co/59wCg68/profile-8.jpg" alt="Alternate Text" />
                    </div>
                    <p class="name">Full Name</p>
                </div>
                <div class="story">
                    <div class="profile-photo">
                        <img src="https://i.ibb.co/59wCg68/profile-8.jpg" alt="Alternate Text" />
                    </div>
                    <p class="name">Full Name</p>
                </div>
            </div>


            <form class="create-post">
                <div class="profile-photo">
                    <img src="https://i.ibb.co/2N5vMHT/profile-2.jpg" />
                </div>
                <input type="text" placeholder="What`s on your mind, Full Name" />
                <input type="submit" value="Post" class="btn-main btn-main-primary" />
            </form>

            


            <div class="feeds">
                <div class="feed">
                    <div class="head">
                        <div class="user">
                            <div class="profile-photo">
                                <img src="https://i.ibb.co/2N5vMHT/profile-2.jpg" alt="Alternate Text" />
                            </div>
                            <div class="ingo">
                                <h3>Full Name</h3>
                                <small>Dubai, 15 MINUTES AGO</small>
                            </div>

                        </div>
                        <span class="edit">
                            <i class="uil uil-ellipsis-h"></i>
                        </span>
                    </div>
                    <div class="photo">
                        <img src="https://i.ibb.co/f0KGw2w/feed-1.jpg" alt="Alternate Text" />
                    </div>

                    <div class="action-buttons">
                        <div class="interaction-buttons">
                            <span><i class="uil uil-heart"></i></span>
                            <span><i class="uil uil-comment-dots"></i></span>
                            <span><i class="uil uil-share-alt"></i></span>
                        </div>
                        <div class="bookmark">
                            <span><i class="uil uil-bookmark-full"></i></span>
                        </div>
                    </div>

                    <div class="liked-by">
                        <span><img src="https://i.ibb.co/DWz457P/profile-10.jpg" alt="Alternate Text" /></span>
                        <span><img src="https://i.ibb.co/DWz457P/profile-10.jpg" alt="Alternate Text" /></span>
                        <span><img src="https://i.ibb.co/DWz457P/profile-10.jpg" alt="Alternate Text" /></span>
                        <p>Liked by <b>Ernest Achiever</b> and <b>2,323 others</b></p>
                    </div>

                    <div class="caption">
                        <p><b>Full Name</b> Lorem ipsum dolor sit quisqam eius <span class="harsh-tag">#lifestyle</span></p>
                    </div>
                    <div class="comments text-muted">View all 277 comments</div>
                </div>
                <div class="feed">
                    <div class="head">
                        <div class="user">
                            <div class="profile-photo">
                                <img src="https://i.ibb.co/2N5vMHT/profile-2.jpg" alt="Alternate Text" />
                            </div>
                            <div class="ingo">
                                <h3>Full Name</h3>
                                <small>Dubai, 15 MINUTES AGO</small>
                            </div>

                        </div>
                        <span class="edit">
                            <i class="uil uil-ellipsis-h"></i>
                        </span>
                    </div>
                    <div class="photo">
                        <img src="https://i.ibb.co/f0KGw2w/feed-1.jpg" alt="Alternate Text" />
                    </div>

                    <div class="action-buttons">
                        <div class="interaction-buttons">
                            <span><i class="uil uil-heart"></i></span>
                            <span><i class="uil uil-comment-dots"></i></span>
                            <span><i class="uil uil-share-alt"></i></span>
                        </div>
                        <div class="bookmark">
                            <span><i class="uil uil-bookmark-full"></i></span>
                        </div>
                    </div>

                    <div class="liked-by">
                        <span><img src="https://i.ibb.co/DWz457P/profile-10.jpg" alt="Alternate Text" /></span>
                        <span><img src="https://i.ibb.co/DWz457P/profile-10.jpg" alt="Alternate Text" /></span>
                        <span><img src="https://i.ibb.co/DWz457P/profile-10.jpg" alt="Alternate Text" /></span>
                        <p>Liked by <b>Ernest Achiever</b> and <b>2,323 others</b></p>
                    </div>

                    <div class="caption">
                        <p><b>Full Name</b> Lorem ipsum dolor sit quisqam eius <span class="harsh-tag">#lifestyle</span></p>
                    </div>
                    <div class="comments text-muted">View all 277 comments</div>
                </div>
                <div class="feed">
                    <div class="head">
                        <div class="user">
                            <div class="profile-photo">
                                <img src="https://i.ibb.co/2N5vMHT/profile-2.jpg" alt="Alternate Text" />
                            </div>
                            <div class="ingo">
                                <h3>Full Name</h3>
                                <small>Dubai, 15 MINUTES AGO</small>
                            </div>

                        </div>
                        <span class="edit">
                            <i class="uil uil-ellipsis-h"></i>
                        </span>
                    </div>
                    <div class="photo">
                        <img src="https://i.ibb.co/f0KGw2w/feed-1.jpg" alt="Alternate Text" />
                    </div>

                    <div class="action-buttons">
                        <div class="interaction-buttons">
                            <span><i class="uil uil-heart"></i></span>
                            <span><i class="uil uil-comment-dots"></i></span>
                            <span><i class="uil uil-share-alt"></i></span>
                        </div>
                        <div class="bookmark">
                            <span><i class="uil uil-bookmark-full"></i></span>
                        </div>
                    </div>

                    <div class="liked-by">
                        <span><img src="https://i.ibb.co/DWz457P/profile-10.jpg" alt="Alternate Text" /></span>
                        <span><img src="https://i.ibb.co/DWz457P/profile-10.jpg" alt="Alternate Text" /></span>
                        <span><img src="https://i.ibb.co/DWz457P/profile-10.jpg" alt="Alternate Text" /></span>
                        <p>Liked by <b>Ernest Achiever</b> and <b>2,323 others</b></p>
                    </div>

                    <div class="caption">
                        <p><b>Full Name</b> Lorem ipsum dolor sit quisqam eius <span class="harsh-tag">#lifestyle</span></p>
                    </div>
                    <div class="comments text-muted">View all 277 comments</div>
                </div>
                <div class="feed">
                    <div class="head">
                        <div class="user">
                            <div class="profile-photo">
                                <img src="https://i.ibb.co/2N5vMHT/profile-2.jpg" alt="Alternate Text" />
                            </div>
                            <div class="ingo">
                                <h3>Full Name</h3>
                                <small>Dubai, 15 MINUTES AGO</small>
                            </div>

                        </div>
                        <span class="edit">
                            <i class="uil uil-ellipsis-h"></i>
                        </span>
                    </div>
                    <div class="photo">
                        <img src="https://i.ibb.co/f0KGw2w/feed-1.jpg" alt="Alternate Text" />
                    </div>

                    <div class="action-buttons">
                        <div class="interaction-buttons">
                            <span><i class="uil uil-heart"></i></span>
                            <span><i class="uil uil-comment-dots"></i></span>
                            <span><i class="uil uil-share-alt"></i></span>
                        </div>
                        <div class="bookmark">
                            <span><i class="uil uil-bookmark-full"></i></span>
                        </div>
                    </div>

                    <div class="liked-by">
                        <span><img src="https://i.ibb.co/DWz457P/profile-10.jpg" alt="Alternate Text" /></span>
                        <span><img src="https://i.ibb.co/DWz457P/profile-10.jpg" alt="Alternate Text" /></span>
                        <span><img src="https://i.ibb.co/DWz457P/profile-10.jpg" alt="Alternate Text" /></span>
                        <p>Liked by <b>Ernest Achiever</b> and <b>2,323 others</b></p>
                    </div>

                    <div class="caption">
                        <p><b>Full Name</b> Lorem ipsum dolor sit quisqam eius <span class="harsh-tag">#lifestyle</span></p>
                    </div>
                    <div class="comments text-muted">View all 277 comments</div>
                </div>
                <div class="feed">
                    <div class="head">
                        <div class="user">
                            <div class="profile-photo">
                                <img src="https://i.ibb.co/2N5vMHT/profile-2.jpg" alt="Alternate Text" />
                            </div>
                            <div class="ingo">
                                <h3>Full Name</h3>
                                <small>Dubai, 15 MINUTES AGO</small>
                            </div>

                        </div>
                        <span class="edit">
                            <i class="uil uil-ellipsis-h"></i>
                        </span>
                    </div>
                    <div class="photo">
                        <img src="https://i.ibb.co/f0KGw2w/feed-1.jpg" alt="Alternate Text" />
                    </div>

                    <div class="action-buttons">
                        <div class="interaction-buttons">
                            <span><i class="uil uil-heart"></i></span>
                            <span><i class="uil uil-comment-dots"></i></span>
                            <span><i class="uil uil-share-alt"></i></span>
                        </div>
                        <div class="bookmark">
                            <span><i class="uil uil-bookmark-full"></i></span>
                        </div>
                    </div>

                    <div class="liked-by">
                        <span><img src="https://i.ibb.co/DWz457P/profile-10.jpg" alt="Alternate Text" /></span>
                        <span><img src="https://i.ibb.co/DWz457P/profile-10.jpg" alt="Alternate Text" /></span>
                        <span><img src="https://i.ibb.co/DWz457P/profile-10.jpg" alt="Alternate Text" /></span>
                        <p>Liked by <b>Ernest Achiever</b> and <b>2,323 others</b></p>
                    </div>

                    <div class="caption">
                        <p><b>Full Name</b> Lorem ipsum dolor sit quisqam eius <span class="harsh-tag">#lifestyle</span></p>
                    </div>
                    <div class="comments text-muted">View all 277 comments</div>
                </div>
                <div class="feed">
                    <div class="head">
                        <div class="user">
                            <div class="profile-photo">
                                <img src="https://i.ibb.co/2N5vMHT/profile-2.jpg" alt="Alternate Text" />
                            </div>
                            <div class="ingo">
                                <h3>Full Name</h3>
                                <small>Dubai, 15 MINUTES AGO</small>
                            </div>

                        </div>
                        <span class="edit">
                            <i class="uil uil-ellipsis-h"></i>
                        </span>
                    </div>
                    <div class="photo">
                        <img src="https://i.ibb.co/f0KGw2w/feed-1.jpg" alt="Alternate Text" />
                    </div>

                    <div class="action-buttons">
                        <div class="interaction-buttons">
                            <span><i class="uil uil-heart"></i></span>
                            <span><i class="uil uil-comment-dots"></i></span>
                            <span><i class="uil uil-share-alt"></i></span>
                        </div>
                        <div class="bookmark">
                            <span><i class="uil uil-bookmark-full"></i></span>
                        </div>
                    </div>

                    <div class="liked-by">
                        <span><img src="https://i.ibb.co/DWz457P/profile-10.jpg" alt="Alternate Text" /></span>
                        <span><img src="https://i.ibb.co/DWz457P/profile-10.jpg" alt="Alternate Text" /></span>
                        <span><img src="https://i.ibb.co/DWz457P/profile-10.jpg" alt="Alternate Text" /></span>
                        <p>Liked by <b>Ernest Achiever</b> and <b>2,323 others</b></p>
                    </div>

                    <div class="caption">
                        <p><b>Full Name</b> Lorem ipsum dolor sit quisqam eius <span class="harsh-tag">#lifestyle</span></p>
                    </div>
                    <div class="comments text-muted">View all 277 comments</div>
                </div>
            </div>
     


            <button @onclick="Click">Enter</button>




@code {

    private void Click()
    {
        _navManager.NavigateTo("/profile");
    }




    [Parameter]
    public int Id { get; set; }
    [Parameter]
    public string UserName { get; set; }

   
    private MediaAccount mediaAccount;



    
    

    protected override async Task OnInitializedAsync()
    {
        if(Id != 0 )
        {
            mediaAccount = await _mediaAccountService.GetAccountById(Id);
        }
        if(UserName != null)
        {
            mediaAccount = await _mediaAccountService.GetAccountByUserName(UserName);        
        }


        Console.WriteLine();
    }



    
}
